.feynman {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  min-height: 890px;
  background: url(../../images/feynman.png) no-repeat left bottom;
  background-color: #f2f2f2;
}